Source: diaspora
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Pirate Praveen <praveen@debian.org>
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.7.5~)
Standards-Version: 3.9.6
Vcs-Git: git://anonscm.debian.org/pkg-ruby-extras/diaspora.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-ruby-extras/diaspora.git;a=summary
Homepage: http://diasporafoundation.org
XS-Ruby-Versions: all

Package: diaspora
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Pre-Depends: postgresql-client, dbconfig-common, adduser
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter,
 diaspora-common (>= 0.5.0.1+debian2),
 bundler (>= 1.9),
 ruby-rails (>= 4.1~),
 ruby-actionpack-action-caching,
 ruby-actionpack-page-caching,
 unicorn,
 ruby-diaspora-federation-rails,
 ruby-acts-as-api,
 ruby-json,
 ruby-devise,
 ruby-devise-lastseenable,
 ruby-devise-token-authenticatable,
 ruby-simple-captcha2,
 ruby-sidekiq,
 ruby-sinatra,
 ruby-sidetiq,
 ruby-configurate (>= 0.2.0~),
 ruby-rack-cors,
 ruby-mysql2,
 ruby-pg,
 ruby-activerecord-import,
 ruby-foreigner,
 ruby-carrierwave (>= 0.10~),
 ruby-fog (>= 1.28~),
 ruby-mini-magick (>= 3.8.1~),
 ruby-remotipart,
 ruby-uuid,
 ruby-http-accept-language,
 ruby-i18n-inflector-rails,
 ruby-rails-i18n,
 ruby-markerb,
 ruby-messagebus-api,
 ruby-nokogiri,
 ruby-rails-autolink,
 ruby-redcarpet (>= 3.2.0~),
 ruby-twitter-text,
 ruby-roxml,
 ruby-oembed,
 ruby-open-graph-reader,
 ruby-omniauth,
 ruby-omniauth-facebook,
 ruby-omniauth-tumblr,
 ruby-omniauth-twitter,
 ruby-twitter,
 ruby-omniauth-wordpress,
 ruby-active-model-serializers,
 ruby-diaspora-vines,
 ruby-rails-assets-diaspora-jsxc,
 ruby-acts-as-taggable-on,
 ruby-addressable,
 ruby-faraday,
 ruby-faraday-middleware,
 ruby-faraday-cookie-jar,
 ruby-typhoeus,
 ruby-client-side-validations,
 ruby-gon,
 ruby-haml,
 ruby-mobile-fu,
 ruby-will-paginate,
 ruby-rails-timeago,
 ruby-logging-rails,
 ruby-zip-zip,
 ruby-entypo-rails,
# ruby-bootstrap-sass,
 ruby-compass-rails,
 ruby-sass-rails,
 ruby-autoprefixer-rails,
 ruby-uglifier,
 ruby-backbone-on-rails,
 ruby-handlebars-assets (>=0.18~),
 ruby-jquery-rails (>= 3.1.2~),
 ruby-js-image-paths,
 ruby-js-routes,
 ruby-rails-assets-jquery,
 ruby-rails-assets-markdown-it,
 ruby-rails-assets-markdown-it-hashtag,
 ruby-rails-assets-markdown-it-diaspora-mention,
 ruby-rails-assets-markdown-it-sanitizer,
 ruby-rails-assets-markdown-it--markdown-it-for-inline,
 ruby-rails-assets-markdown-it-sub,
 ruby-rails-assets-markdown-it-sup,
 ruby-rails-assets-highlightjs,
 ruby-rails-assets-jeresig-jquery.hotkeys,
 ruby-rails-assets-jquery-idletimer,
 ruby-rails-assets-jquery-placeholder,
 ruby-rails-assets-jquery-textchange,
 ruby-rails-assets-perfect-scrollbar,
 ruby-rails-assets-jakobmattsson-jquery-elastic,
 ruby-facebox-rails,
 nodejs,
 ruby-rails-admin,
 ruby-rack-google-analytics,
 ruby-rack-piwik (>=0.3.0),
 ruby-rack-protection,
 ruby-eye,
 ruby-rack-rewrite,
 ruby-rack-ssl,
 ruby-asset-sync,
 imagemagick,
 curl,
 postgresql,
 redis-server,
 sudo,
 ruby-rspec,
 ruby-foreman,
 net-tools,
 nginx,
 fonts-roboto
Conflicts: diaspora-installer, ruby-jbuilder
Replaces: diaspora-installer
Description: distributed social networking service
 Diaspora (currently styled diaspora* and formerly styled DIASPORA*) is a free
 personal web server that implements a distributed social networking service.
 Installations of the software form nodes (termed "pods") which make up the
 distributed Diaspora social network.
 .
 Diaspora is intended to address privacy concerns related to centralized
 social networks by allowing users set up their own server (or "pod") to
 host content; pods can then interact to share status updates, photographs,
 and other social data. It allows its users to host their data with a
 traditional web host, a cloud-based host, an ISP, or a friend. The framework,
 which is being built on Ruby on Rails, is free software and can be
 experimented with by external developers.
 .
 Learn more about diaspora at http://diasporafoundation.org
 .
 This package configures PostgreSQL as the database and Nginx as the web server.
