Source: diaspora
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Pirate Praveen <praveen@debian.org>
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.7.5~)
Standards-Version: 3.9.5
Vcs-Git: git://anonscm.debian.org/pkg-ruby-extras/diaspora.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-ruby-extras/diaspora.git;a=summary
Homepage: http://diasporafoundation.org
XS-Ruby-Versions: all

Package: diaspora
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter,
 ruby-rails-3.2,
 unicorn,
 ruby-acts-as-api,
 ruby-json,
 ruby-devise,
 ruby-galetahub-simple-captcha,
 ruby-sidekiq,
 ruby-sinatra,
 ruby-configurate,
 ruby-rack-cors,
 ruby-mysql2,
 ruby-pg,
 ruby-activerecord-import,
 ruby-foreigner,
 ruby-carrierwave,
 ruby-fog,
 ruby-mini-magick,
 ruby-remotipart,
 ruby-http-accept-language,
 ruby-i18n-inflector-rails,
 ruby-rails-i18n,
 ruby-markerb,
 ruby-messagebus-api,
 ruby-nokogiri,
 ruby-rails-autolink,
 ruby-redcarpet,
 ruby-roxml,
 ruby-oembed,
 ruby-opengraph-parser,
 ruby-strong-parameters,
 ruby-omniauth,
 ruby-omniauth-facebook,
 ruby-omniauth-tumblr,
 ruby-omniauth-twitter,
 ruby-twitter,
 ruby-omniauth-wordpress
Description: FIXME
 <insert long description, indented with spaces>
